html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-c {
    text-align: center;
}

.text-whitesmoke {
    color: rgb(0, 0, 0)
}

.button {
    border-radius: 3px;
}

.form-button {
    background-color: rgba(255, 59, 59, 0.24);
    border-color: rgba(255, 59, 59, 0.24);
    color: #00000085;
}
.form-button:hover,
.form-button:focus,
.form-button:active,
.form-button.active,
.form-button:active:focus,
.form-button:active:hover,
.form-button.active:hover,
.form-button.active:focus {
    background-color: rgba(255, 59, 59, 0.473);
    border-color: rgba(255, 59, 59, 0.473);
    color: #000000;
}
.button-l {
    width: 100% !important;
}

.margin-t {
    margin-top: 15px;
}

.margin-b {
    margin-bottom: 15px;
}

.center-block{
	margin-right: 15%;
}

.form-control,
.border-line {
    background-color: #ffffffb6;
    background-image: none;
    border: 1px solid #ffc1c1c4;
    border-radius: 1px;
    color: #000000;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.form-control:focus,
.border-line:focus {
    border-color: #ff3b3b;
    background-color: #ffffff;
    color: #000000;
}

.form-control,
.form-control:focus {
    box-shadow: none;
}

.form-control::-webkit-input-placeholder { color: #000000; }

.container-content {
    background-color: #ffffffa2;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #ff5757;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.main-bg {

    background: #ffffff;
    background: linear-gradient( #fa0000, #ff7676);
}

.login-container {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 100px;
}

.login.login-container {
    width: 300px;
}

.wrapper.login-container {
    margin-top: 140px;
}

.logo-badge {
    color: #000000;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
}